@import '../../sass/base';

.project{
    width: 96%;
    height: auto;
    min-height: 300px;
    background-color: rgb(251, 251, 251);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
    @include element('title'){
        color: black;
        font-size: 30px;
        font-weight: 200;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid black;
        padding-top: 5px;
        padding-bottom: 3px;

        @include element('text'){
            margin-left: 10px;
        }
    }
}

.projects{
    @include element('header'){
        background-color: white;
        color: black;
        font-size: 35px;
        width: 100%;
        border-bottom: black 1px solid;
        font-weight: 200;
        margin-bottom: 0px;
        padding-bottom: 5px;
        text-align: left;
        margin-top: 5px;
        @include element('text'){
            margin-left: 10px;
        }
    }
}

.projects-container{
    width: 95%;
    height: auto;
    background-color: white;
    box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
    margin-bottom: 10px;
    display: inline-block;
}

.description-block{
    display: inline-block;
    width: auto;
    max-width: 500px;
    max-height: 400px;
    vertical-align: top;
    padding-left: 20px;
    font-weight: 300;
    overflow-y: scroll;
    color: black;
    @include element('title'){
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    @include element('description'){
        font-size: 15px;
        font-weight: 300;
        margin-top: 10px;
        display: inline-block;
        text-align: left;
    }
}

.screenshot-block{
    display: inline-block;
    width: 300px;
    height: auto;
    max-height: 400px;
    overflow-y: hidden;
    @include element('screenshot'){
        width: 300px;
        height: auto;
        display: inline-block;
    }
}
