@import '../../sass/base';

.tech-list{
    @media #{$smartphone}{
        display: inline-block;
        height: auto;
        width: 100%;
        margin-top: 5px;
    }
    @media #{$ipad}{
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 0px;
    }
    @media #{$desktop}{
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 0px;
    }
}

.tech_list__center{
    position: relative;
    left: -50%
}

@media #{$smartphone}{
    .tech-spacer{
    }
}
@media #{$ipad}{
    .tech-spacer{
        height: 120px;
        width: 100%;
    }
}
@media #{$desktop}{
    .tech-spacer{
        height: 60px;
        width: 100%;
    }
}
