@import '../../sass/base';

.institutions{
    width: 80%;
    height: auto;
    min-height: 300px;
    background-color: rgba(254, 254, 254, 0.18);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: inline-block;
}
