@import '../../../../sass/base';

.volume-button{
    height: 50px;
    width: 50px;
    background-color: rgb(52, 52, 52);
    color: white;
    position: relative;
    text-align: center;
    display: inline-block;
    float: right;
    z-index: 50;
    @include element('button'){
        color: #fff;
        font-size: 30px;
        width: 100%;
        text-align: center;
        line-height: 50px;
        padding: 0px;
        cursor: pointer;
        &:hover{
            color: $bottomDarkBlue;
        }
    }
}
