@import '../../sass/base';

.loading-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(38, 38, 38, 0.74);
    display: inline-block;
    text-align: center;
    z-index: 200;
    @include element('svg'){
        display: inline-block;
        margin-top: 40vh;
    }
}
