@import '../../../sass/base';

.SKILL_VISIBLE{
    display: inline-block;
    transition: .5s;
    opacity: 1;
    z-index: 51;
}

.SKILL_INVISIBLE{
    transition: .5s;
    opacity: 0;
}

.current-skill{

    @media #{$smartphone} {
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0px;
        height: 60px;
        text-align: center;
        background-color: white;
        -moz-box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
        -webkit-box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
        box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
        @include element('icon'){
            position: absolute;
            top: 5px;
            left: 5px;
            width: 40px;
            height: auto;
            max-height: 50px;
            float: left;
        }
        @include element('name'){
            display: inline-block;
            line-height: 25px;
            font-size: 20px;
            font-weight: 300;
            color: rgb(0, 0, 0);
            width: 100%;
        }
        @include element('type'){
            display: inline-block;
            font-size: 15px;
            line-height: 20px;
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 100%;
        }
    }
    @media #{$ipad} {
        @include element('icon'){

        }
        @include element('name'){

        }
        @include element('type'){

        }
    }
    @media #{$desktop} {
        position: fixed;
        top: 80px;
        left: 20px;
        width: 200px;
        min-height: 200px;
        background-color: white;
        -moz-box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
        -webkit-box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
        box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
        display: inline-block;
        text-align: center;
        padding: 10px;
        @include element('icon'){
            width: 150px;
            height: auto;
            display: inline-block;
        }
        @include element('name'){
            font-size: 20px;
            font-weight: 300;
            width: 100%;
            color: black;
            display: inline-block;
        }
        @include element('type'){
            font-size: 18px;
            font-weight: 200;
            width: 100%;
            color: black;
            display: inline-block;
        }

    }
}
