@import '../../../sass/base';

.learning{
    background-color: rgba(24, 24, 24, 0.61);
    width: 80px;
    height: 80px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    transition: .5s;
    &:hover{
        background-color: rgba(112, 112, 112, 0.61);
        transition: .5s;
    }
    @include element('icon'){
        height: 60px;
        width: auto;
        display: inline-block;
    }
}
