@import '../../../sass/base';

.skill{
    background-color: rgba(24, 24, 24, 0);
    width: 80px;
    height: 70px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    transition: .5s;
    vertical-align: top;
    &:hover{
        background-color: $topDarkBlue;
        transition: .5s;
    }
    @include element('icon'){
        height: 60px;
        width: auto;
        display: inline-block;
    }
}
