@import '../../sass/base';

.entry-list-item{
    width: 95%;
    display: inline-block;
    min-height: 100px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(245, 245, 250);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
    color: black;
}

@media #{$smartphone}{
    .avatar-block{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include element('avatar'){
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-top: 10px;
            vertical-align: top;
            margin-right: 20px;
            margin-left: 15px;
            display: inline-block;
        }
    }
}

@media #{$ipad} {
    .avatar-block{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include element('avatar'){
            width: 60px;
            height: 60px;
            border-radius: 40px;
            margin-top: 10px;
            margin-left: 15px;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
        }
    }
}


@media #{$desktop} {
    .avatar-block{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include element('avatar'){
            width: 60px;
            height: 60px;
            border-radius: 40px;
            margin-top: 10px;
            margin-left: 15px;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
        }
    }
}

.text-block{
    display: inline-block;
    width: 79%;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    @include element('date'){
        font-weight: 400;
    }

    @include element('text'){
        font-weight: 200;
        margin-bottom: 5px;
    }
}

.more{
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}
