@import '../../sass/base';

.entry-list-item{
    width: 95%;
    display: inline-block;
    min-height: 100px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: rgb(245, 245, 250);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 6px -8px rgba(24, 24, 24, 0.31);
    color: black;
    text-align: left;
    position: relative;
}

@media #{$smartphone}{
    .avatar-block{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: left;
        text-align: left;
        @include element('avatar'){
            width: 40px;
            height: 40px;
            border-radius: 40px;
            z-index: 50;
            position: absolute;
            top: -15px;
            right: 0%;
        }
    }
    .text-block{
        display: inline-block;
        width: 100%;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        @include element('date'){
            font-weight: 200;
            background-color: #71c9cd;
            height: 40px;
            position: relative;
            top: -15px;
            width: auto;
            max-width: 90%;
            vertical-align: bottom;
            line-height: 40px;
            font-size: 18px;
            padding-left: 10px;
            overflow: hidden;
            word-wrap: normal;
            text-overflow: ellipsis;
            color: #fff;
        }

        @include element('text'){
            font-weight: 200;
            margin-bottom: 5px;
            width: 90%;
            display: inline-block;
            padding-left: 5px;
        }
    }
}

@media #{$ipad} {
    .avatar-block{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include element('avatar'){
            width: 60px;
            height: 60px;
            border-radius: 40px;
            margin-top: 10px;
            margin-left: 15px;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            position: relative;
        }
    }
    .text-block{
        display: inline-block;
        width: 79%;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        @include element('date'){
            font-weight: 200;
            background-color: #71c9cd;
            height: 40px;
            position: relative;
            top: -15px;
            width: auto;
            max-width: 100%;
            vertical-align: bottom;
            line-height: 40px;
            font-size: 20px;
            padding-left: 10px;
            overflow: hidden;
            word-wrap: normal;
            text-overflow: ellipsis;
            color: white;
        }

        @include element('text'){
            font-weight: 200;
            margin-bottom: 5px;
        }
    }
}


@media #{$desktop} {
    .avatar-block{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include element('avatar'){
            width: 60px;
            height: 60px;
            border-radius: 40px;
            margin-top: 10px;
            margin-left: 15px;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
        }
    }
    .text-block{
        display: inline-block;
        width: 79%;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        @include element('date'){
            font-weight: 200;
            background-color: #71c9cd;
            height: 40px;
            position: relative;
            top: -15px;
            width: auto;
            max-width: 100%;
            vertical-align: bottom;
            line-height: 40px;
            font-size: 20px;
            padding-left: 10px;
            overflow: hidden;
            word-wrap: normal;
            text-overflow: ellipsis;
            color: white;
        }

        @include element('text'){
            font-weight: 200;
            margin-bottom: 5px;
        }
    }
}

.more{
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}
