@import '../../sass/base';

.hero{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
    @include element('video'){
        display: inline-block;
        @media #{$smartphone}{
            position: relative;
            left: -50%;
            width: auto;
            height: 100%;
        }
        @media #{$desktop}{
            width: 100%;
            height: auto;
        }
        @media #{$ipad}{
            position: relative;
            left: -30%;
            width: auto;
            height: 100%;
        }
    }
    @include element('blurb'){
        width: 100%;
        margin-top: 45vh;
        display: inline-block;
        position: absolute;
        text-align: center;
        z-index: 25;
        @include element('quote'){
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            width: 100%;
        }
        @include element('name'){
            font-size: 20px;
            font-weight: 300;
            width: 100%;
        }
        @media #{$smartphone}{

        }
        @media #{$desktop}{

        }
        @media #{$ipad}{

        }
    }

}
