@import '../../sass/base';

.hero{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    @include element('video'){
        width: 100%;
        height: auto;
    }
}
